.DS_Store
.classpath
**/.project
.settings/
build-main.xml
*.DS_Store
.directory
hs_err_pid*
**/.DS_Store
**/dependency-reduced-pom.xml
**/*.iml
*.iml
**/.directory
*.tar
**/target
*.jar
servicios/**
.idea/**
**/.flattened-pom.xml
**/dependency-check-report.html